.ToDoList  {
    position: relative;
    top: 240px; 
    width: 800px; 
    height: 53px;
    border: 1px solid black; 
    border-color: #ffe3dd;
    border-radius: 20px;   
    background-color: #4e36ff;
    font-family: "avenir book"; 
}
.toDo {
    position: absolute; 
    left: 72px; 
    top: 480px; 
    background-color: #fff; 
    border-radius: 13px; 
    width: 800px; 
    height: 250px; 
}
.ToDoList button {
    background-image: url(../../img/1x/add.png);
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    width: 30px; 
    height: 40px; 
    position: absolute; 
    bottom: -5px; 
    right: 250px;
    background-color:transparent;
    color: #FDE2EB; 
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.addIcon {
    position: absolute;
    right: 100px;
    bottom: 30px; 
    width: 20px; 
}
.inputForm {
    position: absolute;  
    height: 53px;
    width: 700px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #FDE2eb;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 600; 
    text-align: center;
}
.inputForm placeholder {
    color: #FDE2eb;
}

.theList {
    position: absolute;
    top: 10px; 
    left: 0px; 
    width: 800px !important;
    height: 200px; 
    overflow: hidden; 
}

.theList li {
    list-style: none; 
    width: 297px; 
    height: 53px;
    background-color: #FDE2EB;
    border-radius: 13px; 
    text-align: center;  
    margin: 10px; 
    font-size: 13px; 
    font-weight: 600; 
    color: #4e36ff;
}


.toDo h1 { 
    position: absolute;
    top: -30px;     
    font-size: 13px; 
    font-weight: 600; 
    color: #4e36ff; 
}

