.ClockComponent {
    position: absolute;
    width: 800px; 
    height: 300px;
    right:  0px; 
 
}
.Clock { 
    position: absolute;
    font-size: 120px; 
    color: #f1a292;
    right:  100px; 
}
.Timer {
    position: absolute;
    font-size: 40px; 
    color: #f1a292;
    right:  100px; 
    top: 200px; 
 
}
