.NotesStyle {
    position: absolute; 
    right: 100px; 
    top: 250px; 
    background-color: #fff; 
    border-radius: 13px; 
    width: 400px; 
    height: 530px; 
}

.NotesTextArea {
  position: absolute;  
  height: 53px;
  width: 338px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #FDE2eb;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.textAreaForm {
  position: relative;
  top: 473px; 
  width: 400px; 
  height: 53px;
  border: 1px solid black; 
  border-color: #fff;
  border-radius: 20px;   
  background-color: #4e36ff;
  font-family: "avenir book"; 
}
.textAreaForm button {
  background-image: url(../../img/1x/add.png);
  background-size: 20px 20px; 
  background-repeat: no-repeat;
  width: 80px; 
  height: 40px; 
  position: absolute; 
  bottom: -6px; 
  background-color: transparent; 
  right: 10px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.NotesStyle h1 {
  position: absolute;
  top: -30px;     
  font-size: 13px; 
  font-weight: 600; 
  color: #4e36ff; 
}
.theNotes p {
  list-style: none; 
  width: 350px; 
  height: 53px;
  background-color: #FDE2EB;
  border-radius: 13px; 
  text-align: center;  
  margin: 20px; 
  padding-top: 10px; 
  font-size: 13px; 
  font-weight: 600; 
  color: #4e36ff;
}



